<% if (theme.verifyPassword.enable) { %>
    <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.crypto) %>"></script>
    <script>
        (function() {
            let pwd = '<%- page.password %>';
            if (pwd && pwd.length > 0) {
                if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                    alert('<%- theme.verifyPassword.errorMessage %>');
                    location.href = '<%- url_for("/")  %>';
                }
            }
        })();
    </script>
    <% } %>
    
    <%- partial('_partial/post-cover') %>
    
    <%
        var isTocEnable = theme.toc.enable && String(page.toc) !== 'false';
        var containerClass = isTocEnable ? 'post-container' : 'container';
    %>
    
    
<section class="introduction" style="background-color: white;">

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h1 style="font-size: 60px;font-weight: 600;line-height: normal;">Team Introduction</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l7">
                <p>
                    "Nation-wide Community-based Mobile Edge Sensing and Computing Testbeds" is a collaborative platform from researchers at <P_red>Rutgers University, Temple University, New York Institute of Technology (NYIT) and George Mason University</P_red>. Our project is supported by the US National Science Foundation CISE Community Infrastructure (CCRI) Award.
                </p>
                
                
                <img src="/medias/images/logo/nsf-small.png" width="100px" draggable="false">
            </div>
            <div class="col s12 m12 l5" style="text-align: center;">
                <img src="/medias/images/logo/Logo-Rutgers-University.jpg" width="220px" draggable="false">
                <img src="/medias/images/logo/nyit.jpg" width="180px" draggable="false">
                <img src="/medias/images/logo/TempleLogo.png" width="220px" draggable="false">
                <img src="/medias/images/logo/GeorgeMason.png" width="180px" draggable="false">
            </div>
        </div>

    </div>
    
    <p><br></p>
</section>
        
<main class="team">
    
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h1 style="font-size: 60px;font-weight: 600;line-height: normal;text-align: center;">PI-Team</h1>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 80px;">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="image-block-wrapper">
          

                    <article  class="image-block paragraph paragraph--type--image-block-with-overlay paragraph--view-mode--default featured-content-image-block overlay" style="background-image: url(../medias/images/team/Prof.Chen.jpg);">
                          <a href="" class="image-block__link">
                      
                      <div class="image-block__overlay">
                        <h3 class="text-overlay__title">
                                <div style="text-align: center;"><span class="caps">Yingying Chen</span></div>
                          </h3>
                              <div class="text-overlay__desc" style="text-align: center;">Rutgers University</div>
                          </div>
                    
                          </a>
                      </article>
                    
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="image-block-wrapper">
          

                    <article  class="image-block paragraph paragraph--type--image-block-with-overlay paragraph--view-mode--default featured-content-image-block overlay" style="background-image: url(../medias/images/team/Prof.Cheng.jpg);">
                          <a href="" class="image-block__link">
                      
                      <div class="image-block__overlay">
                        <h3 class="text-overlay__title">
                                <div style="text-align: center;"><span class="caps">Jerry Cheng</span></div>
                          </h3>
                              <div class="text-overlay__desc" style="text-align: center;">New York Institute of Technology</div>
                          </div>
                    
                          </a>
                      </article>
                    
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="image-block-wrapper">
          

                    <article  class="image-block paragraph paragraph--type--image-block-with-overlay paragraph--view-mode--default featured-content-image-block overlay" style="background-image: url(../medias/images/team/Prof.YanWang.jpg);">
                          <a href="" class="image-block__link">
                      
                      <div class="image-block__overlay">
                        <h3 class="text-overlay__title">
                                <div style="text-align: center;"><span class="caps">Yan Wang</span></div>
                          </h3>
                              <div class="text-overlay__desc" style="text-align: center;">Temple University</div>
                          </div>
                    
                          </a>
                      </article>
                    
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="image-block-wrapper">
          

                    <article  class="image-block paragraph paragraph--type--image-block-with-overlay paragraph--view-mode--default featured-content-image-block overlay" style="background-image: url(../medias/images/team/Prof.Guo.jpg);">
                          <a href="" class="image-block__link">
                      
                      <div class="image-block__overlay">
                        <h3 class="text-overlay__title">
                                <div style="text-align: center;"><span class="caps">Xiaonan Guo</span></div>
                          </h3>
                              <div class="text-overlay__desc" style="text-align: center;">George Mason University</div>
                          </div>
                    
                          </a>
                      </article>
                    
                </div>
            </div>

        </div>

    </div>
</main>
    
    <% if (theme.mathjax.enable && page.mathjax) { %>
    <script src="<%- theme.mathjax.cdn %>"></script>
    <script>
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        });
    </script>
    <% } %>
    