<% if (theme.verifyPassword.enable) { %>
    <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.crypto) %>"></script>
    <script>
        (function() {
            let pwd = '<%- page.password %>';
            if (pwd && pwd.length > 0) {
                if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                    alert('<%- theme.verifyPassword.errorMessage %>');
                    location.href = '<%- url_for("/")  %>';
                }
            }
        })();
    </script>
    <% } %>
    
    <%- partial('_partial/post-cover') %>
    
    <%
        var isTocEnable = theme.toc.enable && String(page.toc) !== 'false';
        var containerClass = isTocEnable ? 'post-container' : 'container';
    %>
    
    
<main class="content">

    

    <div id="tags" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    Advisory Board
                </div>
                <div class="tag-chips">
                    
                </div>
            </div>
        </div>
    </div>
    
        
    
</main>
    
    <% if (theme.mathjax.enable && page.mathjax) { %>
    <script src="<%- theme.mathjax.cdn %>"></script>
    <script>
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        });
    </script>
    <% } %>
    