<% if (theme.verifyPassword.enable) { %>
    <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.crypto) %>"></script>
    <script>
        (function() {
            let pwd = '<%- page.password %>';
            if (pwd && pwd.length > 0) {
                if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                    alert('<%- theme.verifyPassword.errorMessage %>');
                    location.href = '<%- url_for("/")  %>';
                }
            }
        })();
    </script>
    <% } %>
    
    <%- partial('_partial/post-cover') %>
    
    <%
        var isTocEnable = theme.toc.enable && String(page.toc) !== 'false';
        var containerClass = isTocEnable ? 'post-container' : 'container';
    %>
    
    
<main class="container content">


        <article id="prenext-posts" class="prev-next articles">
            <div class="row article-row">
                
                <div class="article col s12 m6" data-aos="fade-up" data-aos="fade-up">
                    <div class="article-badge left-badge text-color">
                        <i class="far fa-dot-circle"></i>&nbsp;Current
                    </div>
                    <div class="card">
                        <a href="/Workshop/index.html">
                            <div class="card-image">
                                
                                
                                <img src="/medias/featureimages/21.jpg" class="responsive-img" alt="Workshop">
                                
                                <span class="card-title">TBD</span>
                            </div>
                        </a>
                        <div class="card-content article-content">
                            <div class="summary block-with-text">
                                
                                    
                                
                            </div>
                            <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="far fa-clock fa-fw icon-date"></i>2018-09-30
                                    </span>
                                <span class="publish-author">
                                    
                                    <i class="fas fa-user fa-fw"></i>
                                    Our Dataset name
                                    
                                </span>
                            </div>
                        </div>
        
                        
                    </div>
                </div>
            </div>
        </article>
    <!-- 代码块功能依赖 -->
<script type="text/javascript" src="/libs/codeBlock/codeBlockFuction.js"></script>



<!-- 代码语言 -->

<script type="text/javascript" src="/libs/codeBlock/codeLang.js"></script>


<!-- 代码块复制 -->

<script type="text/javascript" src="/libs/codeBlock/codeCopy.js"></script>


<!-- 代码块收缩 -->

<script type="text/javascript" src="/libs/codeBlock/codeShrink.js"></script>
    
</main>
    
    <% if (theme.mathjax.enable && page.mathjax) { %>
    <script src="<%- theme.mathjax.cdn %>"></script>
    <script>
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        });
    </script>
    <% } %>
    